<%- include('partials/header') %>  
<body>
    <h1><%= title %></h1>

    <h2>My Favorite Food:</h2>
    <p> I have been cooking since I was 11. My dad actually went to culinary
      school for a while, so I have always had a good example to follow.
      My favorite food, by far, is:
    </p>
    <h2 class="fav_food"><b>Ribeye Steak</b></h2>

    <h2>My Favorite Cooking Experience:</h2>
    <p>Ribeye steak is my favorite food, but I also love Macaroni and Cheese.
      Making macaroni and cheese with my grandmother is probably my favorite cooking
      experience.</p>

    <a href="/list"><button class="box">Check out some of my favorite recipes!</button></a>
</body>
</html>
